/* src/index.css */
@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family:  '"Segoe UI", sans-serif';
  background: "linear-gradient(to bottom, #a8e063, #56ab2f)";
  /* ví dụ màu nền */
  min-height: 0vh;
}